@media (max-width: 990px) {
    .container {
        justify-content: center;
    }

    .menubar ul {
        flex-basis: 80%;
        justify-content: flex-end;
    }

    .login {
        flex-basis: 100%;
        order: 1;
        align-content: center;
    }

    .films {
        justify-content: center;
        order: 2;
    }
    .films p{
        display: none;
    }
    
    .series {
        justify-content: center;
        order: 3;
    }

    .series p{
        display: none;
    }

    .card {
        order: 4;
        flex-basis: 100%;
    }
    
    .carousel {
        order: 5;
    }

    .footer {
        order: 6;
    }
}

